{% extends "network/layout.html" %}

{% block body %}
    <h2 class="title" >All Posts</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'newPost' %}" method="post" class="post-container" name="tweet_create">
        {% csrf_token %}
        <h4>New Post</h4>
        <textarea class="form-control" autofocus type="text" placeholder="New tweet..." name="content" cols="15" rows="5"></textarea>
        <input class="btn btn-primary" type="submit" value="Post">
    </form>

    <div id="all-posts" class="post-container">
        <h4>User Name</h4>
        <p class="text-primary">Edit</p>
        <div class="tweet-content">Hello!</div>
        <div class="tweet-timestamp" class="text-secondary">March 29, 2020, 11:40 p.m.</div>
        <div class="tweet-like">heart 1</div>
        <p class="text-secondary">Comment</p>
    </div>
{% endblock %}