{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
    <div>{{ message }}</div>
    {% else %}
        <h2>Listings {{ listing.title }}</h2>
        <!-- Tag: (watchList) -->
        <img src="{{ auction.image }}" alt="Listing Image">
        <p>{{ listing.description }}</p>
        <h3>$ {{ listing.start_bid }}</h3>
        <p>2 bid(s) so far. Your bid is the current bid.</p>
        <form action="{ url 'listing' % listing.id}" method="post" id="create_bid">
            <input type="number" name="newBid" placeholder="New Bid" class="form-group">
            <input type="submit" value="Place Bid" class="btn btn-primary">
        </form>
        <h4>Details</h4>
        <ul>
            <li>Listed by: harry</li>
            <li>Category: No Category Listed</li>
        </ul>
    {% endif %}

{% endblock %}