{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% else %}
        <h2>{{ userName }}'s Watch List</h2>
        <ul>
            {% for listing in watchList %}
                <li>
                    <ul>
                        <li>
                            <h1>
                                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                            </h1>
                        </li>
                        <li>
                            Starting bid: $ {{ listing.start_bid }}
                        </li>
                        <li>
                            Created at: {{ listing.createdAt }}
                        </li>
                    </ul>
                    <img src="{{ listing.image }}" alt="Listing Image">
                    
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}