{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    {% if stock %}
        <p>A share of {{stock["name"]}} ({{stock["symbol"]}}) costs {{stock["price"]}}.</p>
    {% else %}
        <form action="/buy" method="post">
            <div class="form-group">
                <input class="form-control" name="symbol" placeholder="Symbol">
            </div>
            <div class="form-group">
                <input class="form-control" name="shares" placeholder="Shares" type="number">
            </div>
            <button class="btn btn-primary" type="submit">Buy</button>
        </form>
    {% endif %}
{% endblock %}
