{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    {% if stock %}
        <p>A share of {{stock["name"]}} ({{stock["symbol"]}}) costs {{stock["price"]}}.</p>
    {% else %}
        <form action="/quote" method="post">
            <div class="form-group">
                <input class="form-control" name="symbol" placeholder="Symbol">
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}
{% endblock %}
