{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post" id="sellForm">
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <label class="input-group-text" for="symbolSelect">Options</label>
                </div>
                <select class="custom-select" id="symbolSelect" form="sellForm" name="symbolSelect">
                <option selected>Sell...</option>
                {% for stock in stocks %}
                    <option value="{{stock['symbols']}}">{{stock["symbols"]}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>



{% endblock %}
