textarea {
    min-height: 400px;
}

#emails {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.email-record {
    padding: 7px;
    border: 1px;
    border-color: black;
    border-style: solid;
}