{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="user_email">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- Error Message -->
    <div id="message" class="alert" role="alert">
    </div>
    <!-- Mail box -->
    <div id="emails-view">
    </div>
    <ul id="emails"></ul>


    <!-- Compose email page -->
    <div id="compose-view">
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" name="compose-from" id="compose-from" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control" name="compose-recipients">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject" name="compose-subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body" name="compose-body"></textarea>
            <input type="submit" class="btn btn-primary" value="Sent"/>
        </form>
    </div>

    <!-- Email detail page -->
    <div id="email-container">
        <ul id="email-detail-titles">
            <li id="from_detail" class="title-list">
                <div class="title">From:</div>
                <div id="from_value"></div>
            </li>
            <li id="to_detail" class="title-list">
                <div class="title">To:</div>
                <div id="to_value"></div>
            </li>
            <li id="subject_detail" class="title-list">
                <div class="title">Subject:</div>
                <div id="subject_value"></div>
            </li>
            <li id="timestamp_detail" class="title-list">
                <div class="title">Timestamp:</div>
                <div id="timestamp_value"></div>
            </li>
        </ul>
        <button id="reply" class="btn btn-sm btn-outline-primary">Reply</button>
        <button id="archive" class="btn btn-sm btn-outline-primary"></button>
        <hr>
        <div id="email-content"></div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}